@import url(http://fonts.googleapis.com/css?family=Lato:700,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

// Colours
$black:             	#000;
$white:             	#fff;
$text:              	#404040;
$title:					#404040;

$link: 					#007998;


// Grid
$col-qty:				12;
$col-width: 			40px;
$gutter:				20px;

// Large desktop grid
$xl-col-width: 			70px;
$xl-gutter:				30px;


// Breakpoints
$breakpoint-xl: 		1360px;
$breakpoint-large: 		1024px;
$breakpoint-medium: 	680px;
$breakpoint-small: 		120px;


// Paths
$img: 		    		'../img/';
$sprite: 		    	'../img/sprite.png';
$fonts: 		    	'../fonts/';

	
// Typography
$body-font: 			'Lato', sans-serif;
$title-font: 			'Lato', serif;
